<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="BookDepo.css">
</head>
<body>
    <div class="scrollsnap-carousel">
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide one
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide two
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide three
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide four
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide five
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide six
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide seven
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="content">
                <div class="content-wrapper">
                    slide eight
                </div>
            </div>
        </div>
    </div>
</body>
</html>